@using Resume.Bussines.Extensions
@using Resume.DAL.ViewModels.ContactUs;
@model FilterContactUsViewModel
@{
  ViewData["Title"] = "ContactUs List";
}


<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <form class="row g-3">
            <div class="col-auto">
              <label asp-for="Title" class="form-label"></label>
              <input asp-for="Title" type="text" class="form-control">
            </div>
            <div class="col-auto">
              <label asp-for="FullName" class="form-label"></label>
              <input asp-for="FullName" type="text" class="form-control">
            </div>
            <div class="col-auto">
              <label asp-for="Mobile" class="form-label"></label>
              <input asp-for="Mobile" type="tel" class="form-control">
            </div>
            <div class="col-auto">
              <label asp-for="Email" class="form-label"></label>
              <input asp-for="Email" type="text" class="form-control">
            </div>
            <div class="col-auto">
              <label asp-for="AnswerStatus" class="form-label"></label>
              <select class="form-select" aria-label="Default select example">
                @foreach (var status in
                Enum.GetValues<FilterContactUsAnswerStatus>().Cast<FilterContactUsAnswerStatus>().ToList())
                {
                  <option value="@status">@status.GetEnumName()</option>
                }
              </select>
            </div>
            <div>
              <button type=" submit" class="btn btn-primary">Search</button>
              <button type="reset" class="btn btn-secondary">Reset</button>

            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ContactUs</h5>
          @if (Model != null && Model.Entities != null && Model.Entities.Any())
          {
            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Mobile</th>
                  <th scope="col">Email</th>
                  <th scope="col">Answer Status</th>
                  <th scope="col" data-type="date" data-format="YYYY/DD/MM">Created Date</th>
                  <th scope="col" data-type="date" data-format="YYYY/DD/MM">Updated Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var entity in Model.Entities)
                {
                  <tr>
                    <th scope="row">@entity.Id</th>
                    <td>@entity.Title</td>
                    <td>@entity.FullName</td>
                    <td>@entity.Mobile</td>
                    <td>@entity.Email</td>
                    <td>
                      @if (entity.Answer == null || entity.Answer == "")
                      {
                        <span class="badge rounded-pill bg-warning">Not Answer</span>
                      }
                      else
                      {
                        <span class="badge rounded-pill bg-success">Answered</span>
                      }
                    </td>
                    <td>@entity.CreateDate</td>
                    <td>@entity.UpdateDate.ToShamsi()</td>
                    <td>
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                          <li>
                            <a class="dropdown-item" asp-action="Answer" asp-route-id="@entity.Id">
                              <i class="bi bi-pencil"></i>Answer/Details
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

            <!-- Render the pagination controls -->
            <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />
          }
          else
          {
            <partial name="_AdminNotExist" />
          }

        </div>
      </div>

    </div>
  </div>
</section>
